### CSE-221710315009-Ch.Sai Pranathi

Read the dataset from the below path:
[clickhere](https://raw.githubusercontent.com/Mounika-Kajjam/Datasets/master/cities.csv)
1. Analyze the  top 5 cities with highest number of female graduates
2. Find the 5 cities with lowest number of female graduates and concatenate the two dataframes of top 5 cities with  bottom 5 cities
3. Display only the rows which belong to Kerala, Bihar and Maharashtra.
4. Find the  top 10 cities with highest total graduation rate
5. Calculate the average child sex ratio of the Kerala State.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r"C:\Users\Sri\Documents\csv file\cities.csv")
df

,name_of_city,state_code,state_name,dist_code,population_total,population_male,population_female,0-6_population_total,0-6_population_male,0-6_population_female,...,literates_female,sex_ratio,child_sex_ratio,effective_literacy_rate_total,effective_literacy_rate_male,effective_literacy_rate_female,location,total_graduates,male_graduates,female_graduates
0,Abohar,3,PUNJAB,9,145238,76840,68398,15870,8587,7283,...,44972,890,848,79.86,85.49,73.59,"30.1452928,74.1993043",16287,8612,7675
1,Achalpur,27,MAHARASHTRA,7,112293,58256,54037,11810,6186,5624,...,43086,928,909,91.99,94.77,89.00,"21.257584,77.5086754",8863,5269,3594
2,Adilabad,28,ANDHRA PRADESH,1,117388,59232,58156,13103,6731,6372,...,37660,982,947,80.51,88.18,72.73,"19.0809075,79.560344",10565,6797,3768
3,Adityapur,20,JHARKHAND,24,173988,91495,82493,23042,12063,10979,...,54515,902,910,83.46,89.98,76.23,"22.7834741,86.1576889",19225,12189,7036
4,Adoni,28,ANDHRA PRADESH,21,166537,82743,83794,18406,9355,9051,...,45089,1013,968,68.38,76.58,60.33,"15.6322227,77.2728368",11902,7871,4031
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,Vizianagaram,28,ANDHRA PRADESH,12,227533,111596,115937,20487,10495,9992,...,80306,1039,952,81.85,88.18,75.80,"18.1066576,83.3955506",30656,19173,11483
489,Warangal,28,ANDHRA PRADESH,9,620116,310400,309716,55392,28434,26958,...,217136,998,948,84.16,91.54,76.79,"17.9689008,79.5940544",109613,69507,40106
490,Wardha,27,MAHARASHTRA,8,105543,53241,52302,9754,5139,4615,...,43339,982,898,94.05,97.19,90.88,"20.745319,78.6021946",19363,10645,8718
491,Yamunanagar,6,HARYANA,3,216628,115404,101224,22905,12556,10349,...,74255,877,824,85.91,89.61,81.71,"30.1290485,77.2673901",29803,14349,15454
492,Yavatmal,27,MAHARASHTRA,14,116714,58717,57997,11081,5894,5187,...,46561,988,880,91.81,95.45,88.17,"20.3887937,78.1204073",13511,7397,6114

In [5]:
#Analyze the top 5 cities with highest number of female graduates
high=df.nlargest(5, ['female_graduates']) 
high

,name_of_city,state_code,state_name,dist_code,population_total,population_male,population_female,0-6_population_total,0-6_population_male,0-6_population_female,...,literates_female,sex_ratio,child_sex_ratio,effective_literacy_rate_total,effective_literacy_rate_male,effective_literacy_rate_female,location,total_graduates,male_graduates,female_graduates
141,Delhi,7,NCT OF DELHI,99,11007835,5871362,5136473,1209275,647938,561337,...,3806615,875,866,87.60,91.44,83.20,"28.7041,77.1025",2221137,1210040,1011097
185,Greater Mumbai,27,MAHARASHTRA,99,12478447,6736815,5741632,1139146,599007,540139,...,4509812,852,902,90.28,93.32,86.70,"19.0760,72.8777",1802371,964964,837407
72,Bengaluru,29,KARNATAKA,18,8425970,4401299,4024671,862493,444639,417854,...,3110983,914,940,89.59,92.63,86.25,"12.9716,77.5946",1591163,908363,682800
184,Greater Hyderabad,28,ANDHRA PRADESH,99,6809970,3500802,3309168,725816,373794,352022,...,2359594,945,942,82.96,85.96,79.79,"17.3850,78.4867",1164149,685402,478747
119,Chennai,33,TAMIL NADU,2,4681087,2357633,2323454,418541,213084,205457,...,1845974,986,964,90.33,93.47,87.16,"13.0826802,80.2707184",879695,487428,392267

In [6]:
#Find the 5 cities with lowest number of female graduates and concatenate the two dataframes of top 5 cities with 
# bottom 5 cities

In [16]:
#Display only the rows which belong to Kerala, Bihar and Maharashtra.
g=df.groupby("state_name")
print(g.get_group("BIHAR"))
print(g.get_group("KERALA"))
print(g.get_group("MAHARASHTRA"))

         name_of_city  state_code state_name  dist_code  population_total  \
31             Arrah           10      BIHAR         29            261099
34        Aurangabad           10      BIHAR         33            101520
39            Bagaha           10      BIHAR          1            113012
69         Begusarai           10      BIHAR         20            251136
73           Bettiah           10      BIHAR          1            132896
78         Bhagalpur           10      BIHAR         22            398138
98       Biharsharif           10      BIHAR         27            296889
111            Buxar           10      BIHAR         30            102591
117           Chapra           10      BIHAR         17            201597
134        Darbhanga           10      BIHAR         13            294116
140            Dehri           10      BIHAR         32            137068
153  Dinapur Nizamat           10      BIHAR         28            182241
175             Gaya           10      BIHAR         34            463454
196          Hajipur           10      BIHAR         18            147126
230         Jamalpur           10      BIHAR         24            105221
236        Jehanabad           10      BIHAR         37            102456
259          Katihar           10      BIHAR         10            225982
269       Kishanganj           10      BIHAR          8            107076
318         Motihari           10      BIHAR          2            125183
321           Munger           10      BIHAR         24            213101
325      Muzaffarpur           10      BIHAR         14            351838
371            Patna           10      BIHAR         28           1683200
382           Purnia           10      BIHAR          9            280547
413          Saharsa           10      BIHAR         12            155175
419          Sasaram           10      BIHAR         32            147396
440            Siwan           10      BIHAR         16            134458

     population_male  population_female  0-6_population_total  \
31            139319             121780                 34419
34             53307              48213                 14292
39             59946              53066                 19070
69            133931             117205                 37966
73             70381              62515                 18203
78            212005             186133                 53775
98            154915             141974                 43646
111            54123              48468                 13639
117           106250              95347                 27668
134           154970             139146                 40392
140            72311              64757                 18372
153            97129              85112                 25092
175           245764             217690                 59015
196            78561              68565                 20090
230            56231              48990                 12298
236            54868              47588                 14516
259           119142             106840                 31036
269            55688              51388                 17017
318            67438              57745                 16325
321           113173              99928                 29260
325           186145             165693                 42276
371           894158             789042                190496
382           148021             132526                 41046
413            82589              72586                 24582
419            77687              69709                 19363
440            70670              63788                 17632

     0-6_population_male  0-6_population_female  ...  literates_female  \
31                 18356                  16063  ...             81258
34                  7548                   6744  ...             33458
39                  9802                   9268  ...             22247
69                 20012                  17954  ...             72702
73                  9685                   8518  ...             42116
78                 28061                  25714  ...            122420
98                 22758                  20888  ...             79173
111                 7260                   6379  ...             33151
117                14516                  13152  ...             62447
134                21202                  19190  ...             89583
140                 9570                   8802  ...             42552
153                13398                  11694  ...             52413
175                30966                  28049  ...            152370
196                10694                   9396  ...             43154
230                 6587                   5711  ...             35231
236                 7706                   6810  ...             30163
259                16054                  14982  ...             68125
269                 8743                   8274  ...             29804
318                 8891                   7434  ...             42022
321                15323                  13937  ...             65864
325                22287                  19989  ...            118090
371               102208                  88288  ...            569943
382                21081                  19965  ...             77646
413                12814                  11768  ...             42736
419                10189                   9174  ...             46478
440                 9440                   8192  ...             42746

     sex_ratio  child_sex_ratio  effective_literacy_rate_total  \
31         874              875                          83.41
34         904              893                          86.89
39         885              946                          60.67
69         875              897                          79.35
73         888              880                          82.54
78         878              916                          81.16
98         916              918                          74.80
111        896              879                          85.16
117        897              906                          81.30
134        898              905                          80.88
140        896              920                          83.38
153        876              873                          78.40
175        886              906                          85.74
196        873              879                          79.26
230        871              867                          87.38
236        867              884                          79.66
259        897              933                          79.87
269        923              946                          74.71
318        856              836                          87.20
321        883              910                          81.83
325        890              897                          85.16
371        882              864                          84.71
382        895              947                          74.48
413        879              918                          77.66
419        897              900                          82.31
440        903              868                          84.65

     effective_literacy_rate_male  effective_literacy_rate_female  \
31                          89.14                           76.86
34                          92.52                           80.68
39                          69.30                           50.79
69                          84.67                           73.25
73                          86.57                           78.00
78                          85.38                           76.31
98                          83.42                           65.39
111                         90.91                           78.76
117                         86.07                           75.97
134                         86.43                           74.68
140                         89.92                           76.05
153                         84.54                           71.39
175                         90.49                           80.35
196                         84.78                           72.93
230                         92.58                           81.40
236                         84.58                           73.97
259                         84.96                           74.16
269                         79.84                           69.13
318                         90.36                           83.52
321                         86.43                           76.59
325                         88.83                           81.05
371                         87.71                           81.33
382                         79.36                           68.98
413                         84.11                           70.27
419                         87.26                           76.78
440                         91.71                           76.89

                  location  total_graduates male_graduates  female_graduates
31   25.5560443,84.6603307            35354          25045             10309
34   24.7457189,84.3804888            13141           9371              3770
39   27.1221959,84.0722375             3744           2756               988
69    25.416675,86.1293792            24616          16492              8124
73   26.8028048,84.5169757            13438           9372              4066
78   25.3478004,86.9824288            49656          33692             15964
98   25.1982147,85.5148735            28092          20487              7605
111  25.4987785,84.1435136            12464           8920              3544
117  25.7795649,84.7498886            22852          15710              7142
134    26.111868,85.896004            38605          26731             11874
140  24.9277351,84.1909841            14780          10297              4483
153  25.6328264,85.0597137            19777          13707              6070
175   24.7954523,84.999431            56679          38831             17848
196  25.6858392,85.2145907            16319          11371              4948
230   25.312717,86.4906091            10638           7165              3473
236   25.1515827,84.981754             8901           6620              2281
259   25.552048,87.5718609            24259          17105              7154
269  26.0917422,87.9383822             7847           5536              2311
318  26.6469624,84.9088938            19550          13634              5916
321  25.3747561,86.4735251            19988          13825              6163
325  26.1208876,85.3647201            61914          40575             21339
371  25.5940947,85.1375645           307603         199207            108396
382  25.7771391,87.4752551            28193          19787              8406
413  25.8834961,86.6006249            18307          13209              5098
419   24.949036,84.0314295            18844          13181              5663
440  26.2196205,84.3566593            14545           9727              4818

[26 rows x 22 columns]
            name_of_city  state_code state_name  dist_code  population_total  \
14            Alappuzha           32     KERALA         11            174164
271               Kochi           32     KERALA          8            601574
275              Kollam           32     KERALA         13            349033
278           Kozhikode           32     KERALA          4            432097
358            Palakkad           32     KERALA          6            131019
459  Thiruvananthapuram           32     KERALA         14            752490
461            Thrissur           32     KERALA          7            315596

     population_male  population_female  0-6_population_total  \
14             83888              90276                 15434
271           296668             304906                 52466
275           168076             180957                 31304
278           206494             225603                 41574
358            63833              67186                 11614
459           364657             387833                 61619
461           151999             163597                 25252

     0-6_population_male  0-6_population_female  ...  literates_female  \
14                  7934                   7500  ...             78815
271                26863                  25603  ...            270062
275                16018                  15286  ...            149927
278                21208                  20366  ...            196582
358                 5930                   5684  ...             56414
459                31156                  30463  ...            330865
461                12953                  12299  ...            145644

     sex_ratio  child_sex_ratio  effective_literacy_rate_total  \
14        1076              945                          96.56
271       1028              953                          97.49
275       1077              954                          92.10
278       1093              960                          96.80
358       1053              959                          94.20
459       1064              978                          93.72
461       1076              950                          97.24

     effective_literacy_rate_male  effective_literacy_rate_female  \
14                          98.03                           95.21
271                         98.31                           96.69
275                         93.85                           90.50
278                         97.93                           95.78
358                         96.83                           91.73
459                         94.94                           92.58
461                         98.31                           96.26

                  location  total_graduates male_graduates  female_graduates
14    9.4980667,76.3388484            22263           9900             12363
271   9.9312328,76.2673041           115773          54538             61235
275   8.8932118,76.6141396            39521          17708             21813
278    11.2587531,75.78041            61225          27701             33524
358  10.7867303,76.6547932            16827           8436              8391
459   8.5241391,76.9366376           151257          72759             78498
461  10.5276416,76.2144349            53535          24392             29143

[7 rows x 22 columns]
                    name_of_city  state_code   state_name  dist_code  \
1                      Achalpur           27  MAHARASHTRA          7
8                    Ahmadnagar           27  MAHARASHTRA         26
12                        Akola           27  MAHARASHTRA          5
20                    Ambarnath           27  MAHARASHTRA         21
24                     Amravati           27  MAHARASHTRA          7
35                   Aurangabad           27  MAHARASHTRA         19
38                     Badlapur           27  MAHARASHTRA         21
63                       Barshi           27  MAHARASHTRA         30
89                     Bhiwandi           27  MAHARASHTRA         21
94                     Bhusawal           27  MAHARASHTRA          3
95                          Bid           27  MAHARASHTRA         27
116                  Chandrapur           27  MAHARASHTRA         13
150                       Dhule           27  MAHARASHTRA          2
182                     Gondiya           27  MAHARASHTRA         11
185              Greater Mumbai           27  MAHARASHTRA         99
211                  Hinganghat           27  MAHARASHTRA          8
219                Ichalkaranji           27  MAHARASHTRA         34
227                     Jalgaon           27  MAHARASHTRA          3
228                       Jalna           27  MAHARASHTRA         18
273                    Kolhapur           27  MAHARASHTRA         34
286                       Latur           27  MAHARASHTRA         28
299                    Malegaon           27  MAHARASHTRA         20
310              Mira Bhayander           27  MAHARASHTRA         21
334                      Nagpur           27  MAHARASHTRA          9
337              Nanded Waghala           27  MAHARASHTRA         15
338                   Nandurbar           27  MAHARASHTRA          1
342                      Nashik           27  MAHARASHTRA         20
343                 Navi Mumbai           27  MAHARASHTRA         21
344  Navi Mumbai Panvel Raigarh           27  MAHARASHTRA         24
356                   Osmanabad           27  MAHARASHTRA         29
366                      Panvel           27  MAHARASHTRA         24
367                    Parbhani           27  MAHARASHTRA         17
373            Pimpri Chinchwad           27  MAHARASHTRA         25
380                        Pune           27  MAHARASHTRA         25
417         Sangli Miraj Kupwad           27  MAHARASHTRA         35
420                      Satara           27  MAHARASHTRA         31
441                     Solapur           27  MAHARASHTRA         30
456                       Thane           27  MAHARASHTRA         21
472                       Udgir           27  MAHARASHTRA         28
475                  Ulhasnagar           27  MAHARASHTRA         21
482            Vasai Virar City           27  MAHARASHTRA         21
490                      Wardha           27  MAHARASHTRA          8
492                    Yavatmal           27  MAHARASHTRA         14

     population_total  population_male  population_female  \
1              112293            58256              54037
8              350905           179755             171150
12             427146           218184             208962
20             254003           133006             120997
24             646801           330544             316257
35            1171330           610377             560953
38             175516            91695              83821
63             118573            60857              57716
89             711329           418478             292851
94             187750            96655              91095
95             146237            75655              70582
116            321036           165125             155911
150            376093           193854             182239
182            132889            66756              66133
185          12478447          6736815            5741632
211            100416            51881              48535
219            287570           149691             137879
227            460468           241228             219240
228            285349           147714             137635
273            549283           280820             268463
286            382754           198151             184603
299            471006           239243             231763
310            814655           434330             380325
334           2405421          1226610            1178811
337            550564           286152             264412
338            111067            57543              53524
342           1486973           784995             701978
343           1119477           611501             507976
344            194999           107771              87228
356            112085            58098              53987
366            180464            93135              87329
367            307191           157628             149563
373           1729359           945953             783406
380           3115431          1602137            1513294
417            502697           255270             247427
420            120079            61075              59004
441            951118           482194             468924
456           1818872           966293             852579
472            104063            54445              49618
475            506937           270373             236564

In [15]:
#Find the  top 10 cities with highest total graduation rate
h=df.nlargest(10, ['total_graduates']) 
h

,name_of_city,state_code,state_name,dist_code,population_total,population_male,population_female,0-6_population_total,0-6_population_male,0-6_population_female,...,literates_female,sex_ratio,child_sex_ratio,effective_literacy_rate_total,effective_literacy_rate_male,effective_literacy_rate_female,location,total_graduates,male_graduates,female_graduates
141,Delhi,7,NCT OF DELHI,99,11007835,5871362,5136473,1209275,647938,561337,...,3806615,875,866,87.60,91.44,83.20,"28.7041,77.1025",2221137,1210040,1011097
185,Greater Mumbai,27,MAHARASHTRA,99,12478447,6736815,5741632,1139146,599007,540139,...,4509812,852,902,90.28,93.32,86.70,"19.0760,72.8777",1802371,964964,837407
72,Bengaluru,29,KARNATAKA,18,8425970,4401299,4024671,862493,444639,417854,...,3110983,914,940,89.59,92.63,86.25,"12.9716,77.5946",1591163,908363,682800
184,Greater Hyderabad,28,ANDHRA PRADESH,99,6809970,3500802,3309168,725816,373794,352022,...,2359594,945,942,82.96,85.96,79.79,"17.3850,78.4867",1164149,685402,478747
119,Chennai,33,TAMIL NADU,2,4681087,2357633,2323454,418541,213084,205457,...,1845974,986,964,90.33,93.47,87.16,"13.0826802,80.2707184",879695,487428,392267
274,Kolkata,19,WEST BENGAL,16,4486679,2362662,2124017,300052,155475,144577,...,1682088,899,930,87.14,89.08,84.98,"22.572646,88.363895",818476,461615,356861
7,Ahmadabad,24,GUJARAT,7,5570585,2935869,2634716,589076,317917,271159,...,2004480,897,853,89.62,93.96,84.81,"23.022505,72.5713621",769858,435267,334591
380,Pune,27,MAHARASHTRA,25,3115431,1602137,1513294,324572,171152,153420,...,1195486,945,896,91.61,95.13,87.91,"18.5204303,73.8567437",656508,349022,307486
288,Lucknow,9,UTTAR PRADESH,26,2815601,1470133,1345468,280817,147690,133127,...,986314,915,901,84.72,87.81,81.36,"26.8466937,80.946166",596990,326431,270559
225,Jaipur,8,RAJASTHAN,12,3073350,1619280,1454070,378788,204320,174468,...,990584,898,854,84.34,90.61,77.41,"26.9124336,75.7872709",533148,319107,214041

In [24]:
#Calculate the average child sex ratio of the Kerala State.
g=df.groupby("state_name")
if('state_name'=="KERALA"):

AttributeError: 'DataFrame' object has no attribute 'f'